.animate-on-scroll {
    opacity: 0; /* Start invisible */
    transition:  opacity 1.5s ease-out;
}
  
.animate-on-scroll.in-view {
    opacity: 1; /* Fully visible */
}
.animate-on-scroll.font {
    font-size: clamp(1.5rem, 4vw, 10rem); /* Min: 1.5rem, Scales with 2.5vw, Max: 3rem */
    line-height: 100%; /* Adjust line height for readability */
    margin: 0; /* Remove unwanted margins */
    text-align: left; /* Center the text (optional) */
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .animate-on-scroll {
        font-size: clamp(1.5rem, 7vw, 10rem); /* Min: 1.5rem, Scales with 2.5vw, Max: 3rem */
    }
}