@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&display=swap');

:root {
    line-height: 1.5;
    --primary: #000000;
    --red-font-color: #F94C35;
    --light-font-color: #FFFFFF;
  }

.archivo-black-regular {
    font-family: "Archivo Black", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--light-font-color);
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--light-font-color);
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--light-font-color);
}
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
    color: var(--light-font-color);
}

.reddit-mono {
    font-family: "Reddit Mono";
    font-weight: 500;
    font-style: normal;
    color: var(--red-font-color);
    letter-spacing: -5px;
}

.extra-padding {
    padding-left: 5vw;
}
  
